h2 {
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}

table {
    /* table-layout: fixed; */
    /* border-collapse: collapse; */
    width: 100%;
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}

.table-container {
    height: calc(100vh - 100px);
    overflow: auto;
}

div.stars, div.forks, div.size {
    text-align: right;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

.odd-row {
    background-color: #f2f2f2;
}

.even-row {
    background-color: #c3e3fd;
}

tr:hover {
    background-color: #f8c668;
}
